# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
BACKEND_FALLBACK.md
DEPLOY_CHECKLIST.md
QUICK_SETUP.md
VERCEWL_DEPLOY.md
VERCEL_ENV_SETUP.md

# Environment variables
.env
.env.local
.env.production
.env.development
.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
